/*Clears all default margins*/
* {
	margin: 0px;
}
body {
	background-image: url("../patterns/seigaiha.png");
	background-repeat: repeat;
	font-family: "Roboto", Verdana, sans-serif;
}
/* Theme Styling */
#container {
	width: 960px; 
	margin: 0px auto;
}
#header {
	position: relative;
	height: 230px;
}
/* Navigation Styling*/
#nav {
	--p: 15px;
    background-color: white;
    display: block;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 20px;
    padding: 0 var(--p);
    position: relative;
    right: var(--p);
    text-align: center;
    width: 100%;
    box-sizing: content-box;
}
#nav:before,
#nav:after {
    background-color: inherit;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: calc(var(--p)/2);
    width: var(--p);
    filter: brightness(.5);
    z-index: -1;
}
#nav:before {
    left: 0;
    transform: skewy(45deg);
}

#nav:after {
    right: 0;
    transform: skewy(-45deg);
}
#nav ul {
	list-style-type: none;
	padding: 9px;
	top: 0px;
	display: block;
	position: relative;
}
#nav li {
	float: left;
	width: 100px;
	margin: 5px 36px;
}
a {
	display: block;
	text-align: center;
}
#nav a {
	font-size: 18px;
	-webkit-transition: all 0.5s ease-in-out;
	position: relative;
    moz-transition: all 0.5s ease-in-out;
    padding: 0px 35px;
    width: 100px;
    display: inline;
    margin: 4px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
}
#nav a:link {
	color: black;
}
#nav a:hover {
	color: white;
	background-color: #cc3333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 20px 50px;
	position: relative;
}
#nav a:active {
	color: white;
}
#nav a:visited {
	color: black;
}
/* Content Styling*/
#content {
	background-color: #ffcc66;
	padding: 20px;
}
#content p {
	margin: 2.5em;
	font-size: 17px;
}
#content h1 {
	margin: 0.5em 0.5em;
	border-left: 10px solid #ee6146;
	padding: 0px 10px;
	-webkit-transition: all 0.5s ease-in-out;
    moz-transition: all 0.5s ease-in-out;
}
#content h1:hover {
	border-left: 25px solid #ee6146;
	transition-duration: 0.5s;
	color: white;
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
#content img {
	width: auto;
    max-width: 90vh;
    max-height: 80vh;
}
/*Title Styling*/
#header-dragon {
	margin: 0 auto;
	width: 65%;
	position: absolute;
	z-index: -1;
	left: 18%;
	opacity: 0.7;
}
#header p {
	margin: 0px;
	font-size: 65px;
	font-family: "Viner Hand ITC", Arial, sans-serif;
	z-index: 0;
	position: absolute;
	top: 70px;
	left: 15%;
	color: white;
}
/* Table Styling - MUI.css override */
table, th, td {
	text-align: center;
}
td:nth-child(1) {
	width: 30%;
}
th{
	font-size: 25px;
}
/* Media Elements Styling */
audio {
	width: 100%;
}
video {
	width: 100%;
	height: 100%;
}
/*Footer Styling*/
#footer {
	/* Original Color
	background-color: #ee6146;
	*/
	background-color: #fb7c37;
	padding: 18px;
}
#footer p {
	text-align: center;
	width: 300px;
	font-size: 18px;
	color: white;
	margin: 0 auto;
}
#footer ul {
	list-style-type: none;
}
/*Janky fix for footer menu TODO FIX*/
.mui-dropdown {
	float: right;
	top: -35px;
	height: 100px;
}
.mui-dropdown, .mui-btn--danger {
}
/* Special Classes */
.text-shadow {
	text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.box-shadow {
	-webkit-box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
    -box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
}
.button-shadow {
	box-shadow: inset 0px 0px 50px 0px #ABABAB,0px 0px 13px 1px #242424;
	webkit-box-shadow: inset 0px 0px 50px 0px #ABABAB,0px 0px 13px 1px #242424;
	moz-box-shadow: inset 0px 0px 50px 0px #ABABAB,0px 0px 13px 1px #242424;
	o-box-shadow: inset 0px 0px 50px 0px #ABABAB,0px 0px 13px 1px #242424;
}
/* Content Image Styling */
#content img {
	margin: 0 auto;
	border: 3px solid white;
	transition-duration: 0.4s;
	display: block;
}
#content img:hover {
	-webkit-box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
    moz-box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
	box-shadow: 0px 13px 23px 3px rgba(0,0,0,0.75);
	max-width: 100vh;
}
figcaption {
	color: white;
	font-size: 16px;
	text-align: center;
}
/* Themes */
body.style-Seigaiha { 
	background-image: url("../patterns/seigaiha.png")
}
body.style-Seigaiha-Dark { 
	background-image: url("../patterns/seigaiha-styled.png") 
}
body.style-Royal { 
	background-image: url("../patterns/golden-swirls2.png") 
}
/* Google Maps Embed Styling */
iframe {
	margin: 10px auto;
	display: block;
}
/* Audio Styling */
audio {
	margin: 10px 0px;
}
/* Flexbox Styling */
.flex-container {
	flex-wrap: wrap;
	border: none;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
.flex-item {
	width: 30% !important;
	height: 30% !important;
	margin: 20px !important;
	padding: 15px !important;
}