body {
	background-image: url("../patterns/seigaiha-styled.png");
	background-repeat: repeat;
}
#container {
	width: 960px; 
	margin: 0px auto;
}
#header {
}
#nav {
	
}
#content {
	background-color: #ffcc66;
}
#footer {
	
}
table {
	background-color: #d73c37;
	border: 1px solid #e6e0ae;
}
/*Title Styling*/
#header-dragon {
	margin: 0 auto;
	width: 65%;
	display: block;
	position: relative;
	z-index: -1;
}
#header p {
	text-shadow: 1px 1px #999999;
	margin: 0px;
	text-align: center;
	font-size: 55px;
	font-family: "Viner Hand ITC", Arial, sans-serif;
}